* {
    margin: 0;
}

nav {
    background-color: whitesmoke;
    font-size: 25px;
    letter-spacing: 3px;
    width: 100%;
    box-shadow: 10px 10px 10px rgb(211, 210, 210);
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    position: fixed;
    z-index: 999;
}


.clear {
    clear: both;
}

nav .logo {
    float: left;
}

nav .logo p {
    padding: 15px 20px;
}

nav .logo p span {
    font-size: 30px;
    font-weight: bold;
}

nav .list {

    float: right;
}

nav .list ul {
    list-style: none;

}

nav .list ul li {
    float: left;
    padding: 15px 20px;
}

nav .list ul li a {
    text-decoration: none;
    color: black;
}

@media (max-width:666px) {
    nav {
        font-size: 10px;
        letter-spacing: 1px;
    }

    nav .logo p {
        padding: 9px 13px;
    }

    nav .logo p span {
        font-size: 20px;
        font-weight: bold;
    }
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
}

header img {
    width: 100%;
    height: 100%;
}

header .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    font-weight: normal;
    letter-spacing: 6px;

}

header .hero p span {
    padding: 10px;
    background-color: rgb(70, 69, 69);
    font-size: 35px;
}

@media (max-width:666px) {


    header img {
        width: 100%;
        height: 100%;

    }

    header .hero {
        font-size: 20px;
        letter-spacing: 2px;
    }

    header .hero p span {
        padding: 5px;
        font-size: 20px;
    }
}

#project {
    padding-top: 50px;
    font-weight: normal;
}

.container {
    width: 90%;
    margin: 0 auto;
}

#project h2 {
    padding: 20px 0;

}

#project hr {
    margin: 20px 0;
    opacity: 0.3;
}

#project .parent .child {
    width: calc(100% / 4 - 10px);
    position: relative;
    margin: 0 10px 10px 0;
    float: left;
}

#project .parent .child img {
    width: 100%;
}

#project .parent .child span {
    padding: 5px 8px;
    position: absolute;
    top: 0;
    background-color: black;
    color: white;
    padding: 5px 8px;
}

@media (max-width:666px) {
    #project {
        padding-top: 10px;
        font-size: 10px;
    }

    #project h2 {
        padding: 0;
    }

    #project .parent .child {
        width: calc(100% / 2 - 10px);
        display: none;
    }

    #project .parent-show .child:first-child {
        display: block;
    }

    #project .parent-show .child:nth-child(2) {
        display: block;
    }

    #project .parent .child span {
        font-size: 8px;
        padding: 2px;

    }
}

#about {
    font-weight: normal;
    text-transform: capitalize;
    padding-top: 65px;
}

#about hr {
    margin-top: 30px;
    opacity: 0.3;
}

#about .parent {
    margin-top: 40px;
}

#about .parent .child {
    position: relative;
    float: left;
    margin-right: 10px;
    width: calc(100% / 4 - 10px);
}

#about .parent .child img {
    width: 100%;
}

#about .parent .child .text {
    margin: 10px 0;
}

#about .parent .child .text .name {
    margin: 10px 0;
    font-size: 20px;
}

#about .parent .child .text .jop {
    margin: 10px 0;
    color: rgba(0, 0, 0, 0.181);

}

#about .parent .child .text .button {
    width: 100%;
    background-color: rgba(148, 148, 148, 0.386);
    text-align: center;
    line-height: 30px;
}

@media (max-width:666px) {
    #about {
        padding-top: 10px;
        font-size: 10px;
    }

    #about hr {
        margin-top: 10px;
        opacity: 0.3;
    }

    #about p {
        margin-bottom: 30px;
        font-size: 10px;
    }

    #about .parent {
        margin-top: 60px;   
    }

    #about .parent .child {
        margin-top: 10px;
        width: 100%;
    }

    #about .parent .child .text {
        margin: 10px 0;
    }

    #about .parent .child .text .name {
        margin: 10px 0;
        font-size: 15px;
    }

    #about .parent .child .text .jop {
        margin: 10px 0;
        color: rgba(0, 0, 0, 0.181);

    }

    #about .parent .child .text .button {
        width: 100%;
        background-color: rgba(148, 148, 148, 0.386);
        text-align: center;
        line-height: 30px;
        font-size: 15px;
    }
}

#contact {
    padding-top: 65px;
}

#contact h2 {
    padding-bottom: 20px;
}

#contact hr {
    opacity: 0.3;
}

#contact p {
    margin-bottom: 10px;
}

#contact form input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border-color: rgba(0, 0, 0, 0.059);
}

#contact form button {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    margin-bottom: 30px;

}

#contact img {
    width: 100%;
}
@media (max-width:666px) {
    #contact {
    padding-top: 30px;
    font-size: 10px;
}

#contact p {
    margin-bottom:10px;
}

#contact form input {
    height: 20px;
    margin-bottom: 10px;
    font-size: 8px;
}

#contact form button {
   font-size: 8px;
    padding: 5px;
    margin-bottom: 20px;
}

#contact img {
    width: 100%;
}
}
footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    line-height: 80px;
    font-size: 17px;
    font-weight: normal;
}

footer a {

    color: whitesmoke;
}